.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
  }
  
  .description li {
    list-style-type: none;
  }
  
  .description a {
    font-weight: bold;
  }