.header {
    background-color: #161b22;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.header span:hover {
    cursor: pointer;
}