.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 4rem auto;
}

.row {
  border: solid 1px #30363d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  gap: 1rem;
}
.issue {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.avatar {
  border-radius: 50%;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.muted {
  font-size: smaller;
  color: #8b949e;
}

.labels {
  display: inline;
}

.labels span {
  border-radius: 2em;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  margin: 0.25rem;
}

.labels img {
  margin: 0 4px 0 2px;
}

.label {
  display: inline-block;
  border: 1px solid transparent;
  line-height: 18px;
}

.replay {
  float: right;
  background-color: #be7185;
  border: 1px solid #ffe3ea;
  color: white;
  line-height: 22px;
}

.loom {
  float: right;
  background-color: #9693dd;
  border: 2px solid #5c59aa;
  color: white;
  line-height: 22px;
}
