.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 5% auto;
}

.row {
    border: solid 1px #30363d;
    display: flex;
    flex-direction: row;
    padding: 1rem .5rem;
    gap: 1rem;
}
.issue {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.avatar {
    border-radius: 50%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.muted {
    font-size: smaller;
    color: #8b949e;
}

.labels {
display: inline;
}

.labels span {
    display: inline-block;
    border: 1px solid transparent;
    background-color: darkblue;
    border-radius: 2em;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    margin: .25rem;
}