name: Cypress Tests
on:
  deployment_status:
  workflow_dispatch:
    inputs:
      browser:
        description: Cypress browser to use
jobs:
  test:
    timeout-minutes: 60
    runs-on: macos-latest
    if: github.event.deployment_status.state == 'success' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Get PR Number
        uses: actions/github-script@v6
        id: pr-number
        with:
          result-encoding: json
          script: |
            try {
              const results = await github.rest.search.issuesAndPullRequests({
                q: context.sha
              });
              const prs = [...results.data.items].sort((a, b) => a.score - b.score);
              if (prs[0]) {
                return prs[0].number;
              }
            } catch (e) {
              console.error(e);
            }
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        uses: replayio/action-cypress@v0.1.4
        with:
          browser: ${{ github.event.inputs.browser || 'Replay Firefox' }}
          issue-number: ${{ steps.pr-number.outputs.result }}
          apiKey: ${{ secrets.CYPRESS_REPLAY_API_KEY }}
          public: true
        env:
          CYPRESS_BASE_URL: ${{ github.event.deployment_status.target_url || 'https://www.replayable.dev/' }}
